version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run:
          name: Install conda
          command: |
            curl -s -o Miniconda3-latest-Linux-x86_64.sh "https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh"
            bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/miniconda
            export PATH="$HOME/miniconda/bin:$PATH"
            source $HOME/miniconda/bin/activate
      - run:
          name: Install dependencies
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source $HOME/miniconda/bin/activate
            conda config --add channels conda-forge
            conda config --set channel_priority strict
            conda update -y conda
            conda install -y numpy scipy matplotlib pandas jupyter
            conda install -y openturns==1.16 otwrapy
      - run:
          name: Run Notebooks
          command: bash ./.circleci/run_Notebooks.sh
      - run:
          name: Run Scripts
          command: bash ./.circleci/run_docker_linux.sh
      - run:
          name: Install LaTeX requirements
          command: |
            sudo apt-get install texlive-base
            sudo apt-get install texlive
            sudo apt-get install texlive-latex-extra
            sudo apt-get install texlive-latex-recommended
            sudo apt-get install texlive-fonts-recommended
            sudo apt-get install texlive-latex-extra
            sudo apt-get install texlive-science
            sudo apt-get install texlive-lang-french
            sudo apt-get install texlive-pstricks            
            sudo apt-get install lmodern
      - run:
          name: Build Slides
          command: bash ./.circleci/build_slides.sh
      - store_artifacts:
          path: 2021/Courses/Calibration/Calibration_PRACE_english.pdf
      - store_artifacts:
          path: 2021/Courses/Metamodel/Introduction/steps-C-surrogate.pdf
      - store_artifacts:
          path: 2021/Courses/Metamodel/slides_GP/Latex/Metamodel_Kriging.pdf
      - store_artifacts:
          path: 2021/Courses/Metamodel/slides_PCEs/Latex/Metamodel_PCEs.pdf
      - store_artifacts:
          path: 2021/Courses/Sensitivity/AnaSensibilite_PRACE_english.pdf

workflows:
  main:
    jobs:
      - build-and-test
